*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box;
}

@media (min-width: 768px) {
    .container {
        width: 725px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 955px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    } 
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
}

:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --main-duration: 0.3s; 
}

      /* Header*/

.header {
    padding: 20px; 
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}    

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;
}  

.header .links {
    position: relative;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links .icon span:first-child {
    width: 100%;
}
.header .links .icon span:nth-child(2) {
    width: 60%; 
    transition: var(--main-duration); 
}
.header .links .icon span:last-child {
    width: 100%;
}

.header .links ul {
    background-color: #f2f2f2;
    min-width: 200px;
    list-style: none;
    padding: 0px;
    margin: 0px;
    position: absolute;
    right: 0px;
    top: 45px;
    display: none;
    z-index: 1;
}

.header .links:hover ul {
    display: block;
}

.header .links ul::before {
    content: " ";
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent #f2f2f2 transparent;
    position: absolute;
    top: -40px;
    left: 160px;
}

.header .links ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

.header .links ul li a:hover {
   padding-left: 30px;
   font-weight: bold;
   color: var(--main-color);
}

.header .links ul li:not(:last-child) a{
    border-bottom: 1px solid #DDD;
}



       /* Landing */

       
.landing {
    background-image: url(../Images/Landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
    max-width: 100%;
}
.landing .intro-text h1 {
    margin: 0px;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}
.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
} 
  
    /* Features  */


.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #f2f2f2;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px; 
}

.features .feat {
    padding: 20px;
    text-align: center;
    transition: var(--main-duration);
}
.features .feat:hover {
    background-color: #DDD;
}

.features .feat i {
    color: var(--main-color);
}

.features .feat h3 { 
    font-weight: 800;
    margin: 20px 0;
}

.features .feat p {
   line-height: 1.8;
   color: #777;
   font-size: 17px;
} 


   /* Services */

.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
} 

.special-heading {
   color: #ebeced;
   font-size: 100px;
   font-weight: 800;
   letter-spacing: -3px;
   text-align: center;
   margin: 0px;
}

@media (max-width: 767px) {
     .special-heading {
        font-size: 80px;
    }
}   

.special-heading + p{
    margin-top: -30px;
    font-size: 20px;
    text-align: center;
    color: #797979;
}


.services .services-content {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   grid-gap: 20px;
   margin-top: 80px;
}

.services .services-content .srv{
    display: flex;
    margin-bottom: 60px;
}

 @media (max-width: 767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
} 

.services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}

.services .services-content .srv .text {
    flex: 1;
}

.services .services-content .srv .text h3 {
    margin: 0px;
}

.services .services-content .srv .text p {
    color: #777;
    font-weight: 300;
    line-height: 1.8;
}

.services .services-content .image {
    text-align: center;
    position: relative;
}
.services .services-content .image::before {
    content: " ";
    position: absolute;
    background-color: var(--secondary-color);
    width: 100px;
    height: 450px;
    top: -28px;
    right: 20px;
    z-index: -1;
}

.services .services-content .image img {
    width: 260px;
    height: 400px;
}

@media (max-width: 1000px) {
    .image-column {
        display: none;
    }
}


    /* Portfolio */

    
.Portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #f2f2f2;
}

.portfolio-heading {
    font-size: 100px;
    font-weight: 800;
    color: #ebeced;
    text-align: center;
    margin: 0px;
}

@media (max-width: 767px) {
    .portfolio-heading {
        font-size: 80px;
    }
}

.portfolio-heading + p {
    font-size: 19px;
    margin-top: -30px;
    color: #797979;
    text-align: center;
}

.Portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 80px;
}

.Portfolio .portfolio-content .card {
    background-color: white;
    transition: var(--main-duration); 
    cursor: pointer;
    overflow: hidden;
}

.Portfolio .portfolio-content .card img {
    max-width: 100%;
    transition: 0.3s;
}

.Portfolio .portfolio-content .card .info {
    padding: 20px;
}

.Portfolio .portfolio-content .card:hover .info {
    bottom: 0;
}

@media (max-width: 767px) {
    .Portfolio .portfolio-content .card .info {
        text-align: center;
    }
}

.Portfolio .portfolio-content .card .info h3 {
    margin: 0;
}

.Portfolio .portfolio-content .card .info p {
    color: #777;
    font-weight: 300;
    line-height: 1.8;
    margin-bottom: 0;
}


              /* About  */


.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.heading-about {
    font-size: 100px;
    font-weight: 800;
    color: #ebeced;
    text-align: center;
    margin: 0;
}

 @media (max-width: 767px) {
    .heading-about {
        font-size: 80px;
    }
} 

.heading-about + p {
    font-size: 20px;
    font-weight: 300;
    margin-top: -30px;
    color: #797979;
    text-align: center;
}

.about .about-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 130px;
    margin-top: 80px;
}

@media (max-width: 767px) {
    .about .about-content {
        text-align: center;
    }
}
 

.about .about-content .image img{
    max-width: 250px;
}

@media (max-width: 992px) {
    .about .about-content  .image {
        margin: 0 auto;
    }
}

.about .about-content .image {
    width: 250px;
    height: 175px;
    margin-bottom: 200px;
    text-align: center;
    position: relative;
}

.about .about-content .image::before {
    content: " ";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: 460px;
    top: -40px;
    left: -20px;
    z-index: -1;
}

.about .about-content .image::after {
    content: " ";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    right: -150px;
    top: -40px;
    z-index: -1;
}

 @media(max-width: 767px) {
    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;        
    }
} 


.about .about-content .text p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}

.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}

.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}


            /* Contact    */


.contact  {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #f2f2f2;
}

.contact .heading-contact {
    font-size: 100px;
    font-weight: 800;
    color: #ebeced;
    text-align: center;
    margin: 0;
}

@media (max-width: 767px) {
    .contact .heading-contact {
        font-size: 80px;
    }
} 

.contact .heading-contact + p {
    font-size: 20px;
    font-weight: 300;
    color: #797979;
    text-align: center;
    margin-top: -30px;
}

.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}

.contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    margin-bottom: 15px;
}

.contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}

.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 18px;
} 


.contact .info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
}

@media (max-width: 767px) {
    .contact .info .label,
    .contact .info .link {
        font-size: 20px;
    }
}
 

           /* Footer */


.footer {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 30px 10px;
    margin-bottom: 0px;
}

.footer span {
    color: var(--main-color);
    font-weight: bold;
} 


/* Start-JavaScript */


/* End-JavaScript */



